<!DOCTYPE html>
<html lang="pt">
<head>
  <meta http-equiv="X-UA-Compatible"
    content="IE=edge" />

  <title>Scheme - Cockpit</title>

  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Scheme Cockpit" />
  <meta name="author"
    content="scheme services GmbH" />

    <!-- settings the base path for relative links -->
  <base href="$BASE"
    admin-api="$APP_ROOT/api/admin/"
    cockpit-api="$APP_ROOT/api/cockpit/"
    engine-api="$APP_ROOT/api/engine/"
    app-root="$APP_ROOT" />

  <!-- an example of plugin/feature exclusion -->
  <!--
  <base href="$BASE"
    cockpit-api="$APP_ROOT/api/cockpit/"
    engine-api="$APP_ROOT/api/engine/"
    app-root="$APP_ROOT"
    cam-exclude-plugins="cockpit.dashboard:process-definition-tiles" />
  -->

  <!-- styles -->
  <link href="$APP_ROOT/app/cockpit/styles/styles.css?bust=1.0.0-SNAPSHOT-1534966225509"
    rel="stylesheet" />
  <link href="$APP_ROOT/app/cockpit/styles/styles-components.css?bust=1.0.0-SNAPSHOT-1534966225509"
    rel="stylesheet" />
  <link rel="stylesheet"
    type="text/css"
    href="$APP_ROOT/app/cockpit/styles/user-styles.css?bust=1.0.0-SNAPSHOT-1534966225509">

    <!-- favicon -->
  <link rel="shortcut icon"
    href="$APP_ROOT/app/cockpit/assets/images/favicon.ico"
    type="image/x-icon" />
  <link rel="apple-touch-icon"
    href="$APP_ROOT/app/cockpit/assets/images/scheme.png" />
  <link rel="apple-touch-icon"
    sizes="72x72"
    href="$APP_ROOT/app/cockpit/assets/images/scheme.png" />
  <link rel="apple-touch-icon"
    sizes="114x114"
    href="$APP_ROOT/app/cockpit/assets/images/scheme.png" />
</head>
<body>
    <!-- navigation -->
  <div cam-widget-header
    ng-if="authentication.name"
    authentication="authentication"
    user-name="userFullName"
    current-app="cockpit"
    ng-cloak
    sign-out="{{ 'SIGN_OUT_ACTION' | translate }}"
    my-profile="{{ 'MY_PROFILE' | translate }}"
    brand-name="Scheme Cockpit">

    <ul cam-if-logged-in
      ng-controller="camHeaderViewsCtrl">
      <li ng-repeat="actionProvider in menuActions"
        ng-if="actionProvider.pagePath && actionProvider.accessible"
        ng-class="activeClass(actionProvider)">
        <a ng-href="{{ actionProvider.pagePath }}">{{ actionProvider.label | translate}}</a>
      </li>

      <li class="dropdown"
        ng-if="dropdownActions.length">
        <a class="dropdown-toggle"
          href>{{ 'COCKPIT_MORE' | translate}} <i class="caret"></i></a>
        <ul class="dropdown-menu">
          <li ng-repeat="actionProvider in dropdownActions"
            ng-if="actionProvider.pagePath && actionProvider.accessible"
             ng-class="activeClass(actionProvider)">
            <a ng-href="{{ actionProvider.pagePath }}">{{ actionProvider.label | translate}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

    <!-- sidebar -->
  <div cam-widget-navbar
    ng-if="authentication.name"
    authentication="authentication"
    user-name="userFullName"
    current-app="cockpit"
    ng-cloak></div>

    <!-- content -->
  <div class="ctn-main">
    <div class="ctn-wrapper">
      <div ng-if="showBreadcrumbs"
        cam-breadcrumbs-panel
        divider="&raquo;"
        class="breadcrumbs-panel"
        ng-cloak>
      </div>

      <div notifications-panel
        class="page-notifications"></div>

        <!-- view body provided by ngView -->
      <div ng-view>
        <style type="text/css">
          .app-splash { position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: table; }
          .app-splash > div { display: table-cell; vertical-align: middle; text-align: center; }
        </style>
        <div class="app-splash">
          <div>
            <img src="$APP_ROOT/app/cockpit/assets/images/animated-logo-grey-48.gif" />
          </div>
        </div><!-- / .app-splash -->
      </div>
    </div>
  </div>

  <script type="application/javascript">
    var cockpitConf = window.camCockpitConf = {};
    window.PLUGIN_DEPENDENCIES = $PLUGIN_DEPENDENCIES || [];
    window.PLUGIN_PACKAGES = $PLUGIN_PACKAGES || [];
    window.require = {
      waitSeconds: 0
    };
  </script>

  <script type="text/javascript" src="$APP_ROOT/app/cockpit/scripts/config.js"></script>

  <!--[if lte IE 9]><script type="text/javascript">
    cockpitConf.polyfills = cockpitConf.polyfills || [];
    cockpitConf.polyfills.push('placeholder');
  </script><![endif]-->

  <script type="application/javascript"
    src="$APP_ROOT/lib/require.js"></script>
  <script type="text/javascript">
    window.__define = window.define;
    window.__require = window.require;
    window.define = undefined;
    window.require = undefined;
    requirejs.config({
      baseUrl: '$APP_ROOT/app/cockpit',
      urlArgs: 'bust=1.0.0-SNAPSHOT-1534966225509'
    });
    requirejs(['$APP_ROOT/lib/deps.js'], function () {
      requirejs(['$APP_ROOT/app/cockpit/camunda-cockpit-bootstrap.js'], function(){});
    });
  </script>
</body>
</html>