<!DOCTYPE html>
<html lang="pt">
<head>
  <meta http-equiv="X-UA-Compatible"
    content="IE=edge" />
    
  <title>Scheme - Bem-vindo!</title>

  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Scheme Welcome" />
  <meta name="author"
    content="scheme services GmbH" />

    <!-- settings the base path for relative links -->
  <base href="$BASE"
    welcome-api="$APP_ROOT/api/welcome/"
    tasklist-api="$APP_ROOT/api/tasklist/"
    admin-api="$APP_ROOT/api/admin/"
    engine-api="$APP_ROOT/api/engine/"
    app-root="$APP_ROOT"
    app-name="welcome"
    modeler-api="$APP_ROOT/api/modeler/" />

    <!-- an example of plugin/feature exclusion -->
  <!--
  <base href="$BASE"
    welcome-api="$APP_ROOT/api/welcome/"
    engine-api="$APP_ROOT/api/engine/"
    app-root="$APP_ROOT"
    cam-exclude-plugins="welcome.dashboard:process-definition-tiles" />
  -->

      <!-- styles -->
  <link href="$APP_ROOT/app/welcome/styles/styles.css?bust=1.0.0-SNAPSHOT-1534966225507"
    rel="stylesheet" />
  <link href="$APP_ROOT/app/welcome/styles/user-styles.css?bust=1.0.0-SNAPSHOT-1534966225507"
    rel="stylesheet"
    type="text/css" />

      <!-- favicon -->
  <link rel="shortcut icon"
    href="$APP_ROOT/app/welcome/assets/images/favicon.ico"
    type="image/x-icon" />
  <link rel="apple-touch-icon"
    href="$APP_ROOT/app/welcome/assets/images/scheme.png" />
  <link rel="apple-touch-icon"
    sizes="72x72"
    href="$APP_ROOT/app/welcome/assets/images/scheme.png" />
  <link rel="apple-touch-icon"
    sizes="114x114"
    href="$APP_ROOT/app/welcome/assets/images/scheme.png" />
</head>

<body ng-controller="WelcomePage as welcomePage" >

    <!-- navigation -->
  <div cam-widget-header
    ng-if="authentication.name"
    authentication="authentication"
    user-name="userFullName"
    current-app="welcome"
    no-app-switch="true"
    no-account-menu="true"
    toggle-navigation="{{ 'TOGGLE_NAVIGATION' | translate }}"
    sign-out="{{ 'SIGN_OUT_ACTION' | translate }}"
    my-profile="{{ 'MY_PROFILE' | translate }}"
    ng-cloak
    brand-name="{{ welcomePage.appVendor }} {{ welcomePage.appName }}">
  </div>
  
  <div cam-widget-navbar
    ng-if="authentication.name"
    authentication="authentication"
    user-name="userFullName"
    current-app="welcome"
    ng-cloak></div>

  <div notifications-panel
    class="page-notifications"></div>

    <!-- content -->
  <div class="container-fluid" ng-view>
    <style type="text/css">
      .app-splash { position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: table; }
      .app-splash > div { display: table-cell; vertical-align: middle; text-align: center; }
    </style>
    <div class="app-splash">
      <div>
        <img src="$APP_ROOT/app/welcome/assets/images/animated-logo-grey-48.gif" />
      </div>
    </div><!-- / .app-splash -->
  </div>

  <script type="application/javascript">
    window.PLUGIN_DEPENDENCIES = $PLUGIN_DEPENDENCIES || [];
    window.PLUGIN_PACKAGES = $PLUGIN_PACKAGES || [];
    window.require = {
      waitSeconds: 0
    };
  </script>

  <script type="text/javascript" src="$APP_ROOT/app/welcome/scripts/config.js"></script>
  <script type="application/javascript" src="$APP_ROOT/lib/require.js"></script>
  <script type="text/javascript">
    window.__define = window.define;
    window.__require = window.require;
    window.define = undefined;
    window.require = undefined;
    requirejs.config({
      baseUrl: '$APP_ROOT/app/welcome',
      urlArgs: 'bust=1.0.0-SNAPSHOT-1534966225507'
    });
    requirejs(['$APP_ROOT/lib/deps.js'], function () {
      requirejs(['$APP_ROOT/app/welcome/camunda-welcome-bootstrap.js'], function(){});
    });
  </script>

    <!--[if lte IE 9]>
  <script type="text/javascript"
    src="$APP_ROOT/app/welcome/scripts/placeholders.utils.js"></script>
  <script type="text/javascript"
    src="$APP_ROOT/app/welcome/scripts/placeholders.main.js"></script>
  <script type="text/javascript"
    src="$APP_ROOT/app/welcome/scripts/placeholders.jquery.js"></script>
  <![endif]-->
</body>
</html>