<!DOCTYPE html>
<html lang="pt">
<head>
  <meta http-equiv="X-UA-Compatible"
    content="IE=edge" />

  <title>Scheme - Admin</title>

  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Scheme Admin" />
  <meta name="author"
    content="Scheme services GmbH" />

  <!-- settings the base path for relative links -->
  <base href="$BASE"
    admin-api="$APP_ROOT/api/admin/"
    engine-api="$APP_ROOT/api/engine/"
    app-root="$APP_ROOT" />

  <!-- an example of plugin/feature exclusion -->
  <!--
  <base href="$BASE"
    admin-api="$APP_ROOT/api/admin/"
    engine-api="$APP_ROOT/api/engine/"
    app-root="$APP_ROOT"
    cam-exclude-plugins="admin.dashboard:process-definition-tiles" />
  -->

  <!-- styles -->
  <link href="$APP_ROOT/app/admin/styles/styles.css?bust=1.0.0-SNAPSHOT-1534966225508"
    rel="stylesheet" />
  <link rel="stylesheet"
    type="text/css"
    href="$APP_ROOT/app/admin/styles/user-styles.css?bust=1.0.0-SNAPSHOT-1534966225508">

  <!-- favicon -->
  <link rel="shortcut icon"
    href="$APP_ROOT/app/admin/assets/images/favicon.ico"
    type="image/x-icon" />
  <link rel="apple-touch-icon"
    href="$APP_ROOT/app/admin/assets/images/scheme.png" />
  <link rel="apple-touch-icon"
    sizes="72x72"
    href="$APP_ROOT/app/admin/assets/images/scheme.png" />
  <link rel="apple-touch-icon"
    sizes="114x114"
    href="$APP_ROOT/app/admin/assets/images/scheme.png" />
</head>

<body ng-controller="camAdminAppCtrl" ng-class="{'no-breadcrumbs': !$root.showBreadcrumbs}">
  
  <!-- navigation -->
  <div cam-widget-header
    ng-if="authentication.name"
    authentication="authentication"
    user-name="userFullName"
    current-app="admin"
    brand-name="Scheme Admin"
    ng-cloak>

    <ul cam-if-logged-in
      ng-controller="NavigationController">

      <li ng-class="activeClass('#/user')">
        <a href="#/users">{{ 'USERS_USERS' | translate }}</a>
      </li>

      <li ng-class="activeClass('#/group')">
        <a href="#/groups">{{ 'GROUPS_GROUPS' | translate }}</a>
      </li>

      <li ng-class="activeClass('#/tenant')">
        <a href="#/tenants">{{ 'TENANTS_TENANTS' | translate }}</a>
      </li>

      <li ng-class="activeClass('#/authorization')"
        show-if-authorized
        auth-permission="READ"
        auth-resource-name="authorization">
        <a href="#/authorization?resource=0">{{ 'AUTHORIZATION_AUTHORIZATIONS' | translate }}</a>
      </li>
      
      <li ng-class="activeClass('#/system')"
        show-if-authorized
        auth-permission="ALL"
        auth-resource-name="authorization">
        <a href="#/system?section=system-settings-general">{{ 'SYSTEM_SYSTEM' | translate }}</a>
      </li>
    </ul>
  </div>
  
    <!-- sidebar -->
  <div cam-widget-navbar  
    ng-if="authentication.name"
    authentication="authentication"
    user-name="userFullName"
    current-app="admin"
    ng-cloak></div>

    <!-- content -->
  <div class="ctn-main">
    <div class="ctn-wrapper">
      <div ng-if="showBreadcrumbs"
        cam-breadcrumbs-panel
        divider="&raquo;"
        ng-cloak
        class="breadcrumbs-panel"        >
      </div>

      <div notifications-panel
        class="page-notifications"></div>

      <!-- view body provided by ngView -->
      <div ng-view>
        <style type="text/css">
          .app-splash { position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: table; }
          .app-splash > div { display: table-cell; vertical-align: middle; text-align: center; }
        </style>
        <div class="app-splash">
          <div>
            <img src="$APP_ROOT/app/admin/assets/images/animated-logo-grey-48.gif" />
          </div>
        </div><!-- / .app-splash -->
      </div>
    </div>
  </div>

  

  <script type="application/javascript">
    var adminConf = window.camAdminConf = {};
    window.PLUGIN_DEPENDENCIES = $PLUGIN_DEPENDENCIES || [];
    window.PLUGIN_PACKAGES = $PLUGIN_PACKAGES || [];
    window.require = {
      waitSeconds: 0
    };
  </script>

  <script type="text/javascript" src="$APP_ROOT/app/admin/scripts/config.js"></script>

  <!--[if lte IE 9]><script type="text/javascript">
    adminConf.polyfills = adminConf.polyfills || [];
    adminConf.polyfills.push('placeholder');
  </script><![endif]-->

  <script type="application/javascript"
    src="$APP_ROOT/lib/require.js"></script>
  <script type="text/javascript">
    window.__define = window.define;
    window.__require = window.require;
    window.define = undefined;
    window.require = undefined;
    requirejs.config({
      baseUrl: '$APP_ROOT/app/admin',
      urlArgs: 'bust=1.0.0-SNAPSHOT-1534966225508'
    });
    requirejs(['$APP_ROOT/lib/deps.js'], function () {
      requirejs(['$APP_ROOT/app/admin/camunda-admin-bootstrap.js'], function () {});
    });
  </script>
</body>
</html>