/*
.navbar-brand {
  text-indent: -999em;
  background-image: url(./path/to/the/logo.png);
  width: 80px;
}

[cam-widget-header] {
  border-bottom-color: blue;
}

[cam-widget-nav] {
  border-bottom-color: blue;
}
*/
