<!DOCTYPE html>
<html lang="pt">
<head>
  <meta http-equiv="X-UA-Compatible"
    content="IE=edge" />

  <title>Scheme - Modeler</title>

  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Scheme Modeler" />
  <meta name="author"
    content="Scheme services GmbH" />

    <!-- settings the base path for relative links -->
  <base href="$BASE"
    modeler-api="$APP_ROOT/api/modeler"
    admin-api="$APP_ROOT/api/admin/"
    engine-api="$APP_ROOT/api/engine/"
    app-root="$APP_ROOT"
    app-name="modeler" />

    <!-- styles -->
  <link href="$APP_ROOT/app/modeler/styles/styles.css?bust=1.0.0-SNAPSHOT-1534966225520"
    rel="stylesheet" />
  <link href="$APP_ROOT/app/modeler/styles/styles-components.css?bust=1.0.0-SNAPSHOT-1534966225520"
    rel="stylesheet" />
  <link rel="stylesheet"
    type="text/css"
    href="$APP_ROOT/app/modeler/styles/user-styles.css?bust=1.0.0-SNAPSHOT-1534966225520">

    <!-- favicon -->
  <link rel="shortcut icon"
    href="$APP_ROOT/app/modeler/assets/images/favicon.ico"
    type="image/x-icon" />
  <link rel="apple-touch-icon"
    href="$APP_ROOT/app/modeler/assets/images/scheme.png" />
  <link rel="apple-touch-icon"
    sizes="72x72"
    href="$APP_ROOT/app/modeler/assets/images/scheme.png" />
  <link rel="apple-touch-icon"
    sizes="114x114"
    href="$APP_ROOT/app/modeler/assets/images/scheme.png" />

    <!-- BPMN 2.0 Modeler -->
  <link rel="stylesheet" href="$APP_ROOT/app/modeler/css/diagram-js.css" />
  <link rel="stylesheet" href="$APP_ROOT/app/modeler/vendor/bpmn-font/css/bpmn-embedded.css" />
  <link rel="stylesheet" href="$APP_ROOT/app/modeler/css/app.css" />
</head>

<body ng-controller="camModelerAppCtrl" ng-class="{'no-breadcrumbs': !$root.showBreadcrumbs}">

  <div cam-widget-header
    ng-if="authentication.name"
    authentication="authentication"
    user-name="userFullName"
    current-app="modeler"
    toggle-navigation="{{ 'TOGGLE_NAVIGATION' | translate }}"
    sign-out="{{ 'SIGN_OUT_ACTION' | translate }}"
    my-profile="{{ 'MY_PROFILE' | translate }}"
    brand-name="{{ appVendor }} {{ appName }}"
    ng-cloak>

    <ul cam-if-logged-in
      ng-controller="camHeaderViewsCtrl">
      <li ng-repeat="actionProvider in navbarActions"
        ng-class="actionProvider.id">
        <view ng-cloak
          provider="actionProvider"
          vars="navbarVars">
        </view>
      </li>
    </ul>

   <!-- <ul cam-if-logged-in
        >
      <li ng-class="activeClass('/')">
        <a id="js-create-diagram-" href><span class="glyphicon glyphicon-flash"></span> {{ 'NEW_NEW' | translate }}</a>

      </li>

   <li ng-class="activeClass('/')">
        <a id="js-list-diagrams" href><span class="glyphicon glyphicon-heart"></span> {{ 'LISTS_LISTS' | translate }}</a>
      </li> 

      <li ng-class="activeClass('/')">
        <a id="deploy-process" ng-click="deploy()"><span class="glyphicon glyphicon-heart"></span> Deploy</a>
      </li>
    </ul>-->

  </div>
  
 
  <div cam-widget-navbar
  ng-if="authentication.name"
    authentication="authentication"
    user-name="userFullName"
    current-app="modeler"
    brand-name="{{ appVendor }} {{ appName }}"
    ng-cloak></div>

  <!--
  <div class="ctn-main">
    <div class="ctn-wrapper">
  -->
  <div class="nav-tab" ng-cloak>
    <ul class="nav nav-tabs">
     <li role="presentation"><a id="js-create-diagram" href >Novo processo</a></li>
      <!--<li role="presentation"><a id="js-list-diagrams" href>Meus processos</a></li>-->
    </ul>
  </div>

  <div class="content" id="js-drop-zone" ng-cloak>
    
    <div class="message intro">
      
      <div class="note">

        Arraste um diagrama <strong>BPMN 2.0</strong> do seu computador ou clique em <strong>Novo</strong> para iniciar.<br/>
        Veja sua lista de processos em <strong>Listar</strong>.<br />
      </div>
    </div>

    <div class="message error">
      <div class="note">
        <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

        <div class="details">
          <span>cause of the problem</span>
          <pre></pre>
        </div>
      </div>
    </div>

    <div class="canvas" id="js-canvas"></div>

    <div class="properties-panel-parent" id="js-properties-panel"></div>

  </div>

  <ul class="buttons" ng-cloak>

      <li>
        <a id="js-download-diagram" href title="download BPMN diagram">
          Download BPMN
        </a>
      </li>
      <li>
        <a id="js-deploy-diagrams" href title="download as SVG image">
          Deploy
        </a>
      </li>
    </ul>
<!--
    </div>
  </div>
-->


  <script type="text/javascript" src="$APP_ROOT/app/modeler/index.js"></script> 


  <script type="application/javascript">
    var modelerConf = window.camModelerConf = {};
    window.PLUGIN_DEPENDENCIES = $PLUGIN_DEPENDENCIES || [];
    window.PLUGIN_PACKAGES = $PLUGIN_PACKAGES || [];
    window.require = {
        waitSeconds: 0
    };
  </script>

  <script type="text/javascript" src="$APP_ROOT/app/modeler/scripts/config.js"></script>

  <!--[if lte IE 9]><script type="text/javascript">
    adminConf.polyfills = adminConf.polyfills || [];
    adminConf.polyfills.push('placeholder');
  </script><![endif]-->

  <script type="application/javascript"
    src="$APP_ROOT/lib/require.js"></script>
  <script type="text/javascript">
    window.__define = window.define;
    window.__require = window.require;
    window.define = undefined;
    window.require = undefined;
    requirejs.config({
      baseUrl: '$APP_ROOT/app/modeler',
      urlArgs: 'bust=1.0.0-SNAPSHOT-1534966225520'
    });
    requirejs(['$APP_ROOT/lib/deps.js'], function () {
      requirejs(['$APP_ROOT/app/modeler/camunda-modeler-bootstrap.js'], function () {});
    });
  </script>
</body>
</html>