<!DOCTYPE html>
<html lang="pt">
<head>
  <meta http-equiv="X-UA-Compatible"
  content="IE=edge" />
  
  <title>Scheme - Tasklist</title>
  
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Scheme Tasklist" />
  <meta name="author"
    content="Scheme services GmbH" />
  
  <!--< base href="/" /> -->
  <base href="$BASE"
    admin-api="$APP_ROOT/api/admin/"
    tasklist-api="$APP_ROOT/api/tasklist/"
    engine-api="$APP_ROOT/api/engine/"
    app-root="$APP_ROOT"
    app-name="tasklist" />
  
  <link rel="stylesheet"
    type="text/css"
    href="$APP_ROOT/app/tasklist/styles/styles.css?bust=1.0.0-SNAPSHOT-1534966225519">
  <link rel="stylesheet"
    type="text/css"
    href="$APP_ROOT/app/tasklist/styles/user-styles.css?bust=1.0.0-SNAPSHOT-1534966225519">
  
    <!-- favicon -->
  <link rel="shortcut icon"
    href="$APP_ROOT/app/tasklist/assets/images/favicon.ico"
    type="image/x-icon" />
  <link rel="apple-touch-icon"
    href="$APP_ROOT/app/tasklist/assets/images/scheme.png" />
  <link rel="apple-touch-icon"
    sizes="72x72"
    href="$APP_ROOT/app/tasklist/assets/images/scheme.png" />
  <link rel="apple-touch-icon"
    sizes="114x114"
    href="$APP_ROOT/app/tasklist/assets/images/scheme.png" />
</head>

<body ng-controller="camTasklistAppCtrl">
  
  <div cam-widget-header
    ng-if="authentication.name"
    authentication="authentication"
    user-name="userFullName"
    current-app="tasklist"
    toggle-navigation="{{ 'TOGGLE_NAVIGATION' | translate }}"
    sign-out="{{ 'SIGN_OUT_ACTION' | translate }}"
    my-profile="{{ 'MY_PROFILE' | translate }}"
    brand-name="{{ appVendor }} {{ appName }}"
    ng-cloak>
    
    <ul cam-if-logged-in
      ng-controller="camHeaderViewsCtrl">
      <li ng-repeat="actionProvider in navbarActions"
        ng-class="actionProvider.id">
        <view ng-cloak
          provider="actionProvider"
          vars="navbarVars">
        </view>
      </li>
    </ul>
  </div>

    <!-- sidebar -->
  <div cam-widget-navbar
  ng-if="authentication.name"
  authentication="authentication"
    user-name="userFullName"
    current-app="tasklist"
    ng-cloak></div>

  <div class="site-wrap">
  
      <!-- # page-content -->
    <div class="page-wrap three-cols-layout" ng-view>
    
      <style type="text/css">
        .app-splash { position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: table; }
        .app-splash > div { display: table-cell; vertical-align: middle; text-align: center; }
      </style>
      <div class="app-splash">
        <div>
          <img src="$APP_ROOT/app/tasklist/assets/images/animated-logo-grey-48.gif" />
        </div>
      </div><!-- / .app-splash -->
    </div><!-- / page-content -->
  </div>

  <div notifications-panel class="page-notifications"></div>

  <script type="text/javascript">
    // override the following line to include configuration
    var tasklistConf = {
  "apiUri": "$APP_ROOT/api/engine",
  "mock": false,
  "resources": {}
};
  </script>

  <script type="text/javascript">
    window.PLUGIN_DEPENDENCIES = $PLUGIN_DEPENDENCIES || [];
    window.PLUGIN_PACKAGES = $PLUGIN_PACKAGES || [];
    window.require = {
      waitSeconds: 0
    };
  </script>

  <script type="text/javascript" src="$APP_ROOT/app/tasklist/scripts/config.js"></script>

  <!--[if lte IE 9]><script type="text/javascript">
    tasklistConf.polyfills = tasklistConf.polyfills || [];
    tasklistConf.polyfills.push('placeholder');
  </script><![endif]-->

  <script type="application/javascript" src="$APP_ROOT/lib/require.js"></script>
  <script type="text/javascript">
    window.__define = window.define;
    window.__require = window.require;
    window.define = undefined;
    window.require = undefined;
    requirejs.config({
      baseUrl: '$APP_ROOT/app/tasklist',
      urlArgs: 'bust=1.0.0-SNAPSHOT-1534966225519'
    });
    requirejs(['$APP_ROOT/lib/deps.js'], function () {
      requirejs(['$APP_ROOT/app/tasklist/camunda-tasklist-bootstrap.js'], function () {});
    });
  </script>
</body>
</html>